a{
    display: block;
    text-decoration: none;
}


.iphone-12{
    background: url("../assets/images/iphone_12_us__fo0stbby242m_largetall.jpg");
    margin-top: 70px;
}



.title{
    color: #1d1d1f;
    text-align: center;
    padding-top: 90px;
}

.title-dark{
    color: #fff;
}

.title-heading{
    font-size: 90px;
    line-height: 1.07143;
    letter-spacing: -0.08px;
}

.title-sub-heading{
    font-size: 42px;
    margin-top: 10px;
    letter-spacing: 0.130px;
    font-weight: 400; 
}

// .title-price{
//     font-size: 27px;
//     color: #888;
//     margin-top: 11px;
// }

.cta{
    text-align: center;
    margin-top: 30px;
}

.cta-link{
color: #06c;
font-size: 34px;
display: inline-block;
}

.cta-link:nth-child(2){
    margin-left: 42px;

}

.cta-link:hover{
    border-bottom: 2px solid #06c;
}

.iphone-12-pro{
    background: url("../assets/images/iphone_12_pro_us__e5oyysg4k0ya_large.jpg");

}

.title-light{
    color: #1d1d1f;
}

.cta-link-darker{
    color: #06c;
}

.cta-link-darker:hover{
    border-bottom-color: #06c;
}

.title-info{
    color: #86868b;
    max-width: 500px;
    display: flex;
    justify-content: center;
    margin: 10px auto;
    font-size: 20px;
}

.iPad-Air {
    width: 100%;
    background: url("../assets/images/hero__dvsxv8smkkgi_mediumtall.jpg");
}

.hero{
    height: 1110px;
    background-size: auto 1180px;
    background-position: center;
    background-repeat: no-repeat;
    border-top: 10px solid #fff;
    border-bottom: 10px solid #fff; 
}

.iphone-12{
    border-top: none;
}

@media screen and (max-width: 1068px){
    .iphone-12{
        background: url
    }
}